.buttonWrap {
}
.buttonWrap button {
  margin-top: 1em;
  box-shadow: 0px 5px 5px 5px rgba(187, 211, 243, 0.75);
  -webkit-box-shadow: 0px 5px 5px 5px rgba(187, 211, 243, 0.75);
  -moz-box-shadow: 0px 5px 5px 5px rgba(187, 211, 243, 0.75);
  background-color: #0055d4;
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 1em;
  outline: none;
  border: none;
  font-size: 1em;
  letter-spacing: 0.1em;
}
